* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
    ;
  }

.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background-color: #81b71a;

}

.wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

  }
  
  .btn{
    width: 150px;
    height: 30px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  .btn span{
    position: relative;
    z-index: 2;
  }
  
  .btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:black;
    transition: all .35s;
  }
  
  .btn:hover{
    color: #fff;
  }
  
  .btn:hover:after{
    width: 100%;
  }
.wrap{
    display: flex;
    justify-content: left;
    align-items:left;
    margin-left: 30px;
}
  .wrap div{
    margin-top: 40px;
    width: 40%;
    text-align: center;
  }
  .p-01{
    margin-top: 20px;
  }
